* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.Home, .Login, .Profile {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    
}

.profile-link, .login-link, .home-link {
    border: 0.5px solid gainsboro;
    background-color: grey;
    padding: 4px;
    text-decoration: none;
    color: ghostwhite;
}

.profile-link:hover, .login-link:hover, .home-link:hover {
    background-color: ghostwhite;
    color: gray;
}